<%- include("../partials/header") -%>

<h1 class="maintext">All Carpools</h1>

<div class="maintext">
    <h3>Filter by Destination</h3>
    <% locations.forEach((location) => { %>
        <a class="btn btn-primary btn-lg w-100 my-2" href="/private/findCarpool/<%= location %>"><%= location %></a>
    <% }); %>
</div>
<div>
    <% if (carpools.length > 0) { %>
        <% for (let carpool of carpools) { %>
                <div id="carddiv">
                    <div>
                        <h3>Driver</h3>
                        <p><%= carpool.driver[0].name %></p>
                    </div>
                    <div>
                        <h3>Vehicle</h3>
                        <p><%= carpool.vehicle[0].color %> <%= carpool.vehicle[0].make %> <%= carpool.vehicle[0].model %></p>
                    </div>
                    <div>
                        <h3>Route</h3>
                        <p><%= carpool.start %> to <%= carpool.end %></p>
                    </div>
                    <div>
                        <h3>Date</h3>
                        <p><%= carpool.date.month %>/<%= carpool.date.day %>/<%= carpool.date.year %></p>
                    </div>
                    <div>
                        <h3>Available Seats</h3>
                        <p><%= carpool.vehicle.numSeats - carpool.passengers.length %></p>
                    </div>
                    <div>
                        <h3>Description</h3>
                        <p><%= carpool.description %></p>
                    </div>
                    <div>
                        <a class="btn btn-primary btn-lg w-100 my-2" href="/private/joinCarpool/<%= carpool._id %>" id="joincarpoolbtn">Join Carpool</a>
                    </div>
                </div>
        <% } %>
    <% } %>
</div>
<style>
    .maintext {
        text-align: center;
    }
    #carddiv {
		box-sizing: border-box;
		border: 2px solid rgba(240, 240, 240, 1.0);
		border-radius: 15px;
		background-color: rgba(155, 221, 172, 0.863);
		box-shadow: 0 0 20px 40px rgba(240, 240, 240, 0.7);
		margin: auto;
		height: auto;
		width: 40%;
		text-align: center;
		position: relative;
	}
    #joincarpoolbtn {
		cursor: pointer;
		background-color: white;
        border: none;
        color: gray;
        padding: 10px 15px;
        font-size: 20px;
        margin: 0px 2px;
        margin-left: 20px;
        display: inline-block;
        border-radius: 10px;
        transition: background-color 0.5s, color 0.5s;
    }
    #joincarpoolbtn:hover {
        background-color: rgba(130, 171, 237, 1);
        color: white;
    }
</style>
