<%- include("../partials/header") -%>

<h1 style="text-align: center; margin-bottom: 50px;">Create Your Carpool</h1>

<div id="container">
    <form action="/private/create" method="post">
        <div>
            <h3>Where are you starting from?</h3>
            <% locations.forEach((location) => { %>
                <div>
                    <input type="radio" name="start" id="<%= location %>" value="<%= location %>" class="otherinput">
                    <label class="form-check-label" for="<%= location %>"><%= location %></label>
                </div>
            <% }); %>
        </div>
        <div>
            <h3>What is your destination?</h3>
            <% locations.forEach((location) => { %>
                <div>
                    <input type="radio" name="end" id="<%= location %>" value="<%= location %>" class="otherinput">
                    <label class="form-check-label" for="<%= location %>"><%= location %></label>
                </div>
            <% }); %>
        </div>
        <div>
            <input type="number" name="day" id="day" placeholder="Day">
        </div>
        <div>
            <input type="number" name="month" id="month" placeholder="Month">
        </div>
        <div>
            <input type="number" name="year" id="year" placeholder="Year">
        </div>
        <div>
            <input type="text" name="description" id="description" placeholder="Description">
        </div>

        <div class="btndiv">
            <a class="btn btn-secondary" id="cancel" href="/">Cancel</a>
            <input class="btn btn-primary" type="submit" id="submitButton" value="Submit">
        </div>
    </form>
</div>
<style>
    body {
        height: 100%;
        background-image: linear-gradient(45deg, blue, white);
    }
    .form {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    #container {
        box-sizing: border-box;
        border: 2px solid rgba(240, 240, 240, 0.5);
        border-radius: 15px;
        background-color: rgba(240, 240, 240, 0.7);
        box-shadow: 0 0 20px 40px rgba(240, 240, 240, 0.7);
        margin: auto;
        height: 60vh;
        width: 40%;
        text-align: center;
        position: relative;
        overflow-y: scroll;
    }
    form div input:not(.otherinput) {
        padding: 15px;
        margin: 30px auto;
        width: 50%;
        border-radius: 10px;
        box-shadow: 0 0 20px 8px rgba(14, 29, 54, 0.7);
        border: 3px;
        transition: transform 0.5s, background-color 0.5s;
        flex: 1;
    }
    form div input:not(.otherinput):hover{
        transform: scale(1.2);
    }
    form div input:not(.otherinput):focus {
        background-color: mediumseagreen;
    }
    .btndiv {
        margin-bottom: 30px;
    }
    #cancel {
        background-color: white;
        border: none;
        color: gray;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 0px 2px;
        margin-right: 20px;
        cursor: pointer;
        display: inline-block;
        border-radius: 10px;
        opacity: 50%;
        transition: opacity 0.5s;
    }
    #cancel:hover {
        opacity: 100%;
    }
    #submitButton {
        cursor: pointer;
        background-color: white;
        border: none;
        color: gray;
        padding: 10px 15px;
        font-size: 20px;
        margin: 0px 2px;
        margin-left: 20px;
        display: inline-block;
        border-radius: 10px;
        transition: background-color 0.5s, color 0.5s;
    }
    #submitButton:hover {
        background-color: rgba(130, 171, 237, 1);
        color: white;
    }
    
    </style>